.buttonsContainer {
}

.responseContainer {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.imageContainer {
    margin-right: 85px;
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.code {
    font-size: 30px;
}

.text {

}

.info {

}