.input:focus {
}

.input {
    width: 375px;
    height: 35px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
