.input:focus {

}

.input {
    width: 375px;
    height: 35px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    padding: 15px;
    font-size: 16px;
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {

}

.error {
    margin-bottom: 5px;
    font-size: 10px;
    color: red;
}
