.item {

}

.item:last-of-type {

}

.users {
    text-align: center;
    /*position: absolute;*/
    width: 500px;
    height: 35px;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    margin-bottom: 18px;
    /*margin-left: 307px;*/
}

.container {

}

.thead {
    background-color: #E5E5E5;
    font-weight: 600;
}

.nameCol {
    padding: 15px;
}

.ageCol {
    padding: 15px;
}