.sendForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea {
    padding: 10px;
    margin-right: 45px;
    resize: none;
    overflow: hidden;
    min-width: 975px;
    min-height: 40px;
    background-color: #F5F7FB;
    border-radius: 20px;
    border: none;
}

.button {
    width: 120px;
    height: 40px;
    background: #0066CC;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
}

.button:hover {
}

.button:active {
}
