.sendForm {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.textarea {
    padding: 15px;
    resize: none;
    overflow: hidden;
    min-width: 975px;
    min-height: 40px;
    background-color: #F5F7FB;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    margin-right: 15px;
}

.button {
    min-width: 120px;
    min-height: 40px;
    background: #0066CC;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
}

.button:hover {
}

.button:active {
}
