.button {
    width: 100px;
    height: 30px;
    margin-right: 15px;
    border-radius: 3px;
    border: 1px solid #0066CC;
    color: #0066CC;
    background-color: white;
}

.disabled {
}

.secondary {
}

.default {
    color: white;
    background-color: #0066CC;
}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
    color: white;
    background-color: #0066CC;
}


.default:active {
}

.secondary:active {
    color: white;
    background-color: #0066CC;
}

.red:active {
}

.button:disabled {
}
